@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700&display=swap');
@import url('//db.onlinewebfonts.com/c/83a20700464f9c9afa8ba441b158c4db?family=AR+BLANCA');

body, html {
    margin: 0;
}

body {
    height: 100%;
    font-family: 'AR BLANCA';
}

header {
    position: absolute;
    top: -2em;
    padding: 2.5em;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 5em);
    font-family: 'Libre Baskerville';

    #loader {
        animation: spin 20s linear infinite;
        z-index: 1;

        button {
        font-size: 5em;
        font-family: 'Libre Baskerville';
        border: none;
        background: none;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: red;
        transition: 1s;
        cursor: url("mic.cur"), pointer;
    }
}

    @keyframes spin {
        0% { transform: rotateY(0deg); }
        100% { transform: rotateY(3600deg); }
    }

    img {
        width: 100px;
        height: 50px;
        z-index: 1;
        position: fixed;
        bottom: 4.5em;
        left: 0em;
    }
    
    h1 {
       display: flex;
       -webkit-text-fill-color: transparent;
       -webkit-text-stroke-width: 1px;
       -webkit-text-stroke-color: gold;
       justify-content: space-around;
       margin: 0;
       padding: 0;
       z-index: 1;
       position: relative;
       top: 20px;
       font-size: 2em;
    }
}

.container {


        img {
            width: 100%;
            height: 100%;
            position: fixed;
        }
    
        .footer {
            color: green;
            background-color: black;
            bottom: 0;
            position: fixed;
            text-align: center;
            display: flex;
            width: 100%;
            height: 4em;
            z-index: 1;
            
        
            .relative {
                margin: 0 auto;
                font-size: .5em;
                word-spacing: 2em;
                padding-top: 25px;
                display: inline-block;
            }
        
            .links { 
                margin: 0 auto;
                font-size: .5em;
                word-spacing: 2em;
                padding-top: 25px;
                display: inline-block;
            }
        
            .copy {
                margin: 0 auto;
                font-size: .5em;
                padding-top: 17.2px;
                display: block;
            }

            a {
                text-decoration: none;
                color: green;
            }
        }
    }



@media only screen and (min-width: 700px) {

    .container img {
        width: 100%;
        height: 100%;
    }

    header .loader ,lbutton {
        font-size: 3em;
    }

    .container .footer .relative {
        font-size: .6em;
    }
    
    .container .footer .links {
        font-size: .6em;
    }

    .container .footer .copy {
        font-size: .6em;
        padding-top: 16.3px;
    }
}

@media only screen and (min-width: 1020px) {

    .container img {
        width: 100%;
        height: 100%;
    }

    header .loader button {
        font-size: 4em;
    }

    .container .footer .relative {
        font-size: .8em;
    }
   
    .container .footer .links {
        font-size: .8em;
    }

    .container .footer .copy {
        font-size: .8em;
        padding-top: 11.5px;
    }
}


@media only screen and (min-width: 700px) {
    
    header img {
        width: 125px;
        height: 75px;
    }
}

@media only screen and (min-width: 1020px) {
    
    header img {
        width: 150px;
        height: 100px;
    }
}
